#################################################
# Exclude all by default
#################################################
*

#################################################
# Allowed folders
#################################################
!src*

#################################################
# Allowed files
#################################################
!docker-entrypoint.sh
!package.json
!yarn.lock
